{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <article>
    <h1>About Us</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
     <div class="column">
    <p>
      Little Lemon, a family-owned Mediterranean restaurant, is located in the heart of Chicago, Illinois. They offer a unique blend of traditional recipes with a contemporary flair.
    </p>
    <p>
      The culinary team at Little Lemon, inspired by Italian, Greek, and Turkish cultures, curates a rotating menu of 12-15 items each season.
    </p>

    <p>
      With its rustic charm and relaxed ambiance, Little Lemon offers moderately priced dishes, making it a favorite dining spot at any time of the day.
    </p>

    <p>
      Little Lemon is the brainchild of two Italian siblings, Mario and Adrian, who immigrated to the United States with the collective dream of establishing their own restaurant.
    </p>

    <p>
      Mario, one of the owners, utilizes cherished family recipes and his culinary expertise from Italy to create Little Lemon's menu.
    </p>

    <p>
      Adrian, the other owner, handles all the marketing for Little Lemon and spearheaded the initiative to diversify the menu, incorporating more than just traditional Italian dishes, but also other Mediterranean cuisines.
    </p>
</div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <figure class="figure">
          <img
            src="{% static 'img/mario-and-adrian.jpg' %}"
            alt="Mario and Adrian"
          />
          <figcaption class="figure-caption">
            Little Lemon owners Mario and Adrian.
          </figcaption>
        </figure>
      </div>
      <!--End col-->
    </div>
    <!--End row-->
  </article>
</section>
{% endblock %}
